@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Medium.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Bold.ttf');
  font-weight: bold;
}
body {
  min-height: 100vh;
  font-family: 'Plus Jakarta Sans';
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Plus Jakarta Sans';
}
